body{
    display: flex;
    flex-wrap: wrap;
    justify-self: center;
    max-width: 80vW;
    font-size: large;
    margin-left: 2rem;
    font-size: 150%;
    min-height: 100vh;

}

h1{
    padding-bottom: 2rem;
}

header{
    padding-bottom: 2rem;
}

p1{
    display: flex;
    margin-left: 4rem;
    font-size: larger;
    font-weight: 700;
    
}

p{
    display: flex;
    margin-left: 4rem;
}

footer{
    display: flex;
    background-color: antiquewhite;
    padding: 1rem;
    padding-left: 3rem;
    position: absolute;
    width: 100%;
    justify-self: flex-end;

    
}